= form_with(model: @resource, local: true, multipart: true, url: user_cabinet_galleries_path) do |f|
  -#= f.hidden_field(:user_id)
  .col-xs-12.col-md-4.col-md-push-8
    .form-group
      = f.label(:image_for_cover)
      = rc_image_field(@resource, :image_for_cover)
  .col-xs-12.col-md-8.col-md-pull-4
    .form-group
      = f.label(:name)
      = f.text_field(:name, class: 'form-control')
    .form-group
      = f.label(:description)
      = f.text_area(:description, class: 'form-control')
    .form-group
      %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
        = I18n.t('forms.gallery_new.create')
