= form_for(resource, as: resource_name, url: registration_path(resource_name), name: 'sign-up-form', class: 'main-contact-form.contact-form') do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: 'new-password', class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
    %hr

  .form-group
    .col-sm-6.col-sm-offset-6
      = render('devise/shared/social_icons')

  .form-group
    %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
      = I18n.t('forms.sign_up.registry')