.block-item
  .block-content#article_main_description
    %h2
      = Article.human_attribute_name(:main_description)
    .block-visible-data
      = simple_format(@resource.decorate.main_description)
    .block-hidden-form{ 'data-params': { block_id: 'article_main_description' } }
      = form_with(model: [@user, @resource]) do |f|
        = f.hidden_field(:user_id)
        .form-group.required
          = f.text_area(:main_description, class: 'form-control')
          .field_hint
            Описание программы
        %div
          = link_to('#', class: 'btn btn-cancel') do
            = I18n.t('cancel')
          %button.btn.btn-primary{:name => "submit", :required => "required", :type => "submit" }
            = I18n.t('forms.article_new.create')
