<div id="content-home" class="span9 content group">
  <div class="page type-page status-publish group">
    <div class="row">
      <div id="features-tab-libra" class="features-tab-container  group span9 margin-bottom">
        <div class="row">
          <img src="http://demo.yithemes.com/libra/wp-content/themes/libra/theme/assets/images/features-tab-shadow.png" class="shadow" />
          <ul class="features-tab-labels span3">
            <li class="features-tab-0 current-feature withicon">
              <%= image_pack_tag 'media/images/libra/hi.png', alt: 'Welcome to LIBRA' %>
              Welcome to LIBRA
            </li>

            <li class="features-tab-1  withicon">
              <%= image_pack_tag 'media/images/libra/111.png', alt: 'Sliders features' %>
              Sliders features
            </li>

            <li class="features-tab-2  withicon">
              <%= image_pack_tag 'media/images/libra/layouts.png', alt: 'Page Layouts & Modules' %>
              Page Layouts & Modules
            </li>

            <li class="features-tab-3  withicon">
              <%= image_pack_tag 'media/images/libra/shortcodes.png', title: 'Shortcode manager', alt: 'Shortcode manager' %>
              Shortcode manager
            </li>

            <li class="features-tab-4  withicon">
              <%= image_pack_tag 'media/images/libra/seo.png', alt: 'SEO Optimized' %>
              SEO Optimized
            </li>

            <li class="features-tab-5  withicon">
              <%= image_pack_tag 'media/images/libra/customize.png', title: 'Customize Libra', alt: 'Customize Libra' %>
              Customize Libra
            </li>

            <li class="features-tab-6  withicon">
              <%= image_pack_tag 'media/images/libra/advanced.png', title: 'Advanced features', alt: 'Advanced features' %>
              Advanced features
            </li>

            <li class="features-tab-7  withicon">
              <%= image_pack_tag 'media/images/libra/sample.png', title: 'Sample data', alt: 'Sample data' %>
              Sample data
            </li>

            <li class="features-tab-8  withicon">
              <%= image_pack_tag 'media/images/libra/forum.png', title: 'Support and Videotutorials', alt: 'Support and Videotutorials' %>
              Support and Videotutorials
            </li>
          </ul>
          <div class="features-tab-wrapper span6">
            <div class="features-tab-content features-tab-0 current-feature">
              <p>
                <a href="<%= asset_pack_path 'media/images/libra/0031.png' %>">
                  <%= image_pack_tag 'media/images/libra/0031.png', title: '003', alt: '', class: 'aligncenter size-full wp-image-1020', width: '568', height: '385' %>
                </a>

                Libra is a nice and clean corporate theme, suitable also for personal blogs and portfolio sites.
                With Libra you can play with unlimited features and create unlimited different sites, directly
                editing the theme options panel. You can customize colors and typography of each section and elements,
                chose from 9 different sliders, 4 testimonials page, 3 "about" page, 6 blog layouts...and so on.
              </p>
            </div>
            <div class="features-tab-content features-tab-1 ">
              <h4>ENJOY THE GREAT SLIDERS FEATURES</h4>
              <p>
                With Libra you can create unlimited sliders and set a different
                slider for each page of your site. There are 9 different sliders availables in the theme:
              </p>

              <ul>
                <li>the nice Flexi slider (a responsive slider with 2 different layouts)</li>
                <li>the thumbnails slider</li>
                <li>the great <a href="http://codecanyon.net/item/slider-revolution-responsive-wordpress-plugin/2751380">Revolution slider</a> (a premium slider for a value of 15$)</li>
                <li>the elastic slider</li>
                <li>the rotating slider</li>
                <li>the flash slider</li>
                <li>a U-Grid slider (a premium creative slider for a value of 15$)</li>
                <li>a custom slider, <span style="text-decoration: underline;"><strong>never seen on Themeforest,</strong></span> with an amazing "polaroid" effect.</li>
              </ul>

              <p>
                You can set the width, the height, the transition effect and the sliders content directly in the theme options panel,
                without coding knoweledge. An easy and quick way to configure your slider!
                <a href="<%= asset_pack_path 'media/images/libra/slider.png' %> ">
                  <%= image_pack_tag 'media/images/libra/slider.png', title: 'slider', alt: '', class: 'aligncenter size-full wp-image-1015', width: '500', height: '520' %>
                </a>
              </p>
            </div>
            <div class="features-tab-content features-tab-2 ">
              <h4>ON LIBRA YOU HAVE...</h4>
              <p>
                A lot of different page layouts that you can use. You can have a page with left sidebar,
                with right sidebar or full width (without sidebar). We included also this layouts:
              </p>
              <ul>
                <li><strong>9 portfolio layouts</strong> (included a filterable portfolio, a nice javascript portfolio and a "pinterest style" portfolio)</li>
                <li><strong>2 project detail page layouts:</strong> with image on the left and content on the right side or with the image on the top and content below the image.</li>
                <li><strong>4 testimonials page layouts:</strong> chose your favorite testimonials style (you can also use the nice U-grid slider to show your testimonials!)</li>
                <li><strong>6 blog layouts:</strong> big or small image, elegant style, pinterest style and so on.</li>
                <li><strong>3 "about" pages:</strong> chose your favorite design to show your team (you can also use the nice U-grid slider to show your team!)</li>
                <li><strong>2 contact pages:</strong> with or without google map on the top panel.</li>
              </ul>
              <div class="border-line"></div>
              <h4>MODULES</h4>
              <p>
                Use the blog, services, portfolio and videos modules to insert in each page your articles, your services boxes,
                your portfolio projects and your videos. You can set how many items to show, turn on/off the featured article and so on.
              </p>
            </div>
            <div class="features-tab-content features-tab-3 ">
              <h4>200+ shortcodes to customize your pages</h4>
              <p>In Libra we included 200+ shortcodes ready to use in your pages. You can chose from sliders, video shortcodes,
                tables, text columns, icons, 500+ colorful buttons, call to actions and so on. With the powerful shortcode manager
                you have only to click on the "Y" button in your editor and insert the shortcode you want to insert in the page.
                Quick and easy.
                <a href="<%= asset_pack_path 'media/images/libra/shortcodes1.png' %>">
                  <%= image_pack_tag 'media/images/libra/shortcodes1.png', title: 'shortcodes', alt: '', class: 'aligncenter size-full wp-image-1018', width: '500', height: '433' %>
                </a>
                In this way you can also add testimonials shortcodes, portfolio shortcodes and so on in each page and in each position
                inside the page. A great way to create your custom design mixing shortcodes and modules.
              </p>
            </div>
            <div class="features-tab-content features-tab-4 ">
              <h4>IMPROVE YOUR SEO</h4>
              <p>
                Improve the SEO of your site using the special SEO panels availables in the theme. You can enter keyword and
                other meta for your site in the theme options panel and in each page, in the special "SEO" panel:
                <a href="<%= asset_pack_path 'media/images/libra/seo1.png' %>">
                  <%= image_pack_tag 'media/images/libra/seo1.png', title: 'seo', alt: '', class: 'aligncenter size-full wp-image-1029', width: '500', height: '433' %>
                </a>
              </p>
            </div>
            <div class="features-tab-content features-tab-5 ">
              <h4>Full Customizable Theme</h4>
              <p><strong>Unlimited colors options</strong></p>
              <p><strong></strong>In the theme panel you can set a custom color for each element of the site: text, slogans, titles, links, header background, footer background and so on.</p>
              <p><strong></strong> <strong>Background uploader</strong></p>
              <p><strong></strong>You can upload a different background image for each page and post of your site. Chose from 50+ backgrounds and patterns to customize the theme or upload your custom background.</p>
              <p><strong>Header and Footer background</strong></p>
              <p><strong></strong>Upload a background image or set a different background color for your header and footer.</p>
              <p><strong>Typography</strong></p>
              <p><strong></strong>Chose from 300+ google fonts to customize the typography of each area of the site like navigation menu, paragraphs, titles, slogan and so on. You can also use the web-safe fonts, like Georgia, Times new roman and so on if you don't like to use the Google fonts.</p>
            </div>
            <div class="features-tab-content features-tab-6 ">
              <h4>ON LIBRA YOU CAN ALSO FIND:</h4>
              <p><strong>Animated Banners:</strong> Create unlimited animated banners and customize each banner with different colors, text, icons and so on.</p>
              <p><strong>Unlimited features tab:</strong> This is a features tab. And you can create unlimited tabs with custom icons and content. You can also put shortcodes inside this tab!</p>
              <p><strong>Popup window:</strong> To show your offers or your news, to show a newsletter form and so on. You can turn on/off the lightbox and customize the popup content.</p>
              <p><strong>Filterable FAQS </strong> <strong></strong> Create a nice FAQ page with unlimited FAQ categories and chose if display different categories in different pages or if use the javascript filters.</p>
              <p><strong></strong> <strong>Customizable 404 error page </strong> Customize your 404 error page uploading a nice error image, editing the text and so on. You can also set a sidebar for this page or turn on/off the search form. <a href="<%= asset_pack_path 'media/images/libra/discovery.png'%>" ><%= image_pack_tag'media/images/libra/discovery.png', alt: '', class: 'aligncenter size-full wp-image-1023', title: 'discovery', width: '291', height: '90' %> </a></p>
            </div>
            <div class="features-tab-content features-tab-7 ">
              <h4>MAKE YOUR SITE LIKE THE LIVE PREVIEW IN JUST 5 MINUTES.</h4>
              <p>After the purchase, in <a href="http://support.yithemes.com/viewtopic.php?f=6&amp;t=466">our support forum</a> you can download the sample data of our demo, that you can easily import in your wordpress to make your site like our live preview in just 5 minutes. After this, it's very easy and quick edit the pages and replace our content with your content!</p>
              <p><a href="<%= asset_pack_path 'media/images/libra/sample1.png' %> "><img class="aligncenter size-full wp-image-1046" title="sample" src="images/sample1.png" alt="" width="300" height="268" /></a></p>
            </div><div class="features-tab-content features-tab-8 "><p>After the purchase, in <a href="http://support.yithemes.com/viewtopic.php?f=6&amp;t=466">our support forum</a>you can watch a lot of videotutorials that can help you to set up the theme. Also, if you need support, open a topic and ask help to our stunning developers: they will reply in max 24h.</p>
            <h3><a href="<%= asset_pack_path 'media/images/libra/makehappy1.png' %>"><img class="aligncenter size-full wp-image-1045" title="makehappy" src="images/makehappy1.png" alt="" width="387" height="158" /></a></h3>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- START COMMENTS -->
  <div id="comments"></div>
  <!-- END COMMENTS -->
</div>