<div id="header" class="group margin-bottom">

  <div class="group container">
    <div class="row" id="logo-headersidebar-container">
      <!-- START LOGO -->
      <div id="logo" class="span6 group">
        <a id="logo-img" href="index.html" title="Libra">
          <%= image_pack_tag 'media/images/libra/libra-logo1.png', title: 'Libra',  alt: 'Libra' %>
        </a>
        <p id='tagline'>Just another Your Inspiration Themes site</p>
      </div>
      <!-- END LOGO -->

      <!-- START HEADER SIDEBAR -->
      <div id="header-sidebar" class="span6 group">
        <div class="widget-first widget header-text-image">
          <div class="text-image" style="text-align:left">
            <%= image_pack_tag 'media/images/libra/phone1.png', alt: 'CUSTOMER SUPPORT' %>
          </div>

          <div class="text-content">
            <h3>CUSTOMER SUPPORT</h3>
            <p>+39 - 0973 - 645724</p>
          </div>
        </div>

        <%= render('layouts/template_parts/socials') %>
      </div>
    </div>
  </div>

  <!-- BEGIN FLEXSLIDER SLIDER -->
  <div id="slider-polaroid-0" class="slider slider-polaroid polaroid no-responsive" style="height:400px;">
    <div class="thumbs  container">
      <div class="thumb">
        <%= image_pack_tag 'media/images/libra/slider/flexslider/001-150x150.png', alt: asset_pack_path('media/images/libra/slider/flexslider/001.png') %>

        <div class="slide-content container align-right" style="background-image:url('images/slider/flexslider/001.png');">
          <div class="text">
            <h2>With Libra we will make you HAPPY.</h2>
            <p>
              Quisque nec mi eu nibh aliquam elementum. Ut cursus nisl sit amet sapien dignissim at adipiscing lectus ornare. Aenean id lorem orci.
              Morbi lacinia nunc quis lectus condimentum rutrum.
            </p>
          </div>
        </div>
      </div>

      <div class="thumb">
        <%= image_pack_tag 'media/images/libra/slider/flexslider/0026-150x150.jpg', alt: asset_pack_path('media/images/libra/slider/flexslider/0026.jpg') %>
      </div>

      <div class="thumb">
        <%= image_pack_tag 'media/images/libra/slider/flexslider/003-150x150.png', alt: asset_pack_path('media/images/libra/slider/flexslider/003.png') %>

        <div class="slide-content container align-right" style="background-image:url('images/slider/flexslider/003.png');">
          <div class="text">
            <h2>Be nice. Be original.</h2>
            <p>
              Quisque nec mi eu nibh aliquam elementum. Ut cursus nisl sit amet sapien dignissim at adipiscing lectus ornare. Aenean id lorem orci.
              Morbi lacinia nunc quis lectus condimentum rutrum.
            </p>
          </div>
        </div>
      </div>

      <div class="thumb">
        <%= image_pack_tag 'media/images/libra/slider/flexslider/0043-150x150.jpg', alt: asset_pack_path('media/images/libra/slider/flexslider/0043.jpg') %>

        <div class="slide-content container align-right full" style="background-image:url('images/slider/flexslider/0043.jpg');">
          <div class="container">
            <div class="text">
              <h2>
                <span style="color: #0c243d;">Need a WordPress</span>
                <span style="color: #919303;">solution?</span>
              </h2>

              <p>
                <span style="color: #434f5b;">Check this theme.</span>
                <br />
                <span style="color: #8b8005;">Flexible, versatile, pixel perfect.</span>
              </p>

              <p>
                                    <span style="color: #434f5b;">
                                    A complete solution for your corporate/portfolio site.<br />
                                    </span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="thumb">
        <%= image_pack_tag 'media/images/libra/slider/flexslider/0052-150x150.jpg', alt: asset_pack_path('media/images/libra/slider/flexslider/0052.jpg') %>
        <div class="slide-content container align-right full" style="background-image:url(<%= asset_pack_path 'media/images/libra/slider/flexslider/0052.jpg' %>);">
          <div class="container"></div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      jQuery(document).ready(function($){
          $('#slider-polaroid-0').polaroid({
              animation: '',
              pause: 8000,
              animationSpeed: 800			    });
      });
  </script>

  <div class="mobile-slider">
    <div class="slider fixed-image container">
      <%= image_pack_tag 'media/images/libra/slider/flexslider/fixed-polaroid.jpg', alt: '' %>
    </div>
  </div>
</div>