<section id="partner">
  <div class="container">
    <div class="center fadeInDown">
      <h2>Our Partners</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="partners">
      <ul>
        <li>
          <a href="#"><%= image_tag 'images/partners/brand-1.png', class: "img-responsive fadeInDown", 'data-wow-duration': "1000ms", 'data-wow-delay': "300ms" %></a>
        </li>
        <li>
          <a href="#"><%= image_tag 'images/partners/brand-2.png', class: "img-responsive fadeInDown", 'data-wow-duration': "1000ms", 'data-wow-delay': "600ms" %></a>
        </li>
        <li>
          <a href="#"><%= image_tag 'images/partners/brand-3.png', class: "img-responsive fadeInDown", 'data-wow-duration': "1000ms", 'data-wow-delay': "900ms" %></a>
        </li>
        <li>
          <a href="#"><%= image_tag 'images/partners/brand-4.png', class: "img-responsive fadeInDown", 'data-wow-duration': "1000ms", 'data-wow-delay': "1200ms" %></a>
        </li>
        <li>
          <a href="#"><%= image_tag 'images/partners/brand-5.png', class: "img-responsive fadeInDown", 'data-wow-duration': "1000ms", 'data-wow-delay': "1500ms" %></a>
        </li>
      </ul>
    </div>
  </div>
  <!--/.container-->
</section>