<section id="services" class="service-item">
  <div class="container">
    <div class="center fadeInDown">
      <h2>Our Service</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="row">
      <%= render('layouts/template_parts/service', locals: { image_url: 'images/services/ux.svg', title: 'UI/UX Design', text: 'Hydroderm is the highly desired anti-aging cream on'}) %>
      <%= render('layouts/template_parts/service', locals: { image_url: 'images/services/web.svg', title: 'Web Design', text: 'Hydroderm is the highly desired anti-aging cream on'}) %>
      <%= render('layouts/template_parts/service', locals: { image_url: 'images/services/motion.svg', title: 'Motion Graphics', text: 'Hydroderm is the highly desired anti-aging cream on'}) %>
      <%= render('layouts/template_parts/service', locals: { image_url: 'images/services/mobile-ui.svg', title: 'Mobile UI/UX', text: 'Hydroderm is the highly desired anti-aging cream on'}) %>
      <%= render('layouts/template_parts/service', locals: { image_url: 'images/services/web-app.svg', title: 'Web Applications', text: 'Hydroderm is the highly desired anti-aging cream on'}) %>
      <%= render('layouts/template_parts/service', locals: { image_url: 'images/services/mobile-ui.svg', title: 'SEO Marketing', text: 'Hydroderm is the highly desired anti-aging cream on'}) %>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>