= form_with(model: @resource) do
  %row
    %ul
      .col-sm-5.col-sm-offset-1
        - Tag.category.order(:title).each do |category|
          %li
            = label_tag(category.title)
            %span.pull-right
              = check_box_tag("user[categories][#{category.name}]", 'checked', @resource.has_category?(category.name))
      .col-sm-5
        %li
          = label_tag(:pet_kot)
          = check_box_tag('user[categories][pet_kot]')
  %row
    .form-group.pull-right
      %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
        = I18n.t('forms.additional_parameters.send')