.profile_info
  .single-slide
    .slide-img
      - if @resource.avatar.attached?
        = image_tag @resource.avatar, width: '100'
      - else
        = image_tag('images/client2.jpg', alt: '')
    .content
      %p
        %i
          %b
            = User.human_attribute_name(:email)
          = " - #{ @resource.email }"

      %p
        %i
          %b
            = User.human_attribute_name(:nick_name)
          = " - #{ @resource.decorate.nick_name }"
        %hr

      .center
        = render('shared/social_network_list', locals: { services: @resource.services })
