.widget.blog_gallery
  %h3 Our Gallery
  %ul.sidebar-gallery.clearfix
    %li
      = link_to '#' do
        = image_tag('images/sidebar-g-1.png', alt: '')
    %li
      = link_to '#' do
        = image_tag('images/sidebar-g-2.png', alt: '')
    %li
      = link_to '#' do
        = image_tag('images/sidebar-g-3.png', alt: '')
    %li
      = link_to '#' do
        = image_tag('images/sidebar-g-4.png', alt: '')
    %li
      = link_to '#' do
        = image_tag('images/sidebar-g-5.png', alt: '')
    %li
      = link_to '#' do
        = image_tag('images/sidebar-g-6.png', alt: '')
  = link_to 'blog-item.html', class: :readmore do
    Read More
    %i{ class: 'fa fa-long-arrow-right' }
