.widget
  %h3
    = I18n.t('social_networks')
  .row
    .col-sm-12
      %ul{ class: 'three_column_list' }
        - Auth::ServiceDescrManager::KNOWN_SERVICES_DESCR.each do |service|
          %li
            %i{ class: "fa #{service[1].icon_name}" }
            = service[1].service_name
            %span{ class: 'pull-right' }
              - if @resource.has_service?(service[0])
                %i{ class: "fa fa-check" }
              - else
                .inline_a
                  = link_to omniauth_authorize_path(User, service[0]) do
                    %i{ class: "fa fa-plus" }

    - if (Auth::ServiceDescrManager::KNOWN_SERVICES_DESCR.keys - @resource.services.map(&:provider)).any?
      .pull-right.bottom-comment
        = I18n.t('user.show.add_service')