.col-xs-12.col-md-6
  .col-xs-12.col-md-6.center
    .avatar-img
      - if @resource.avatar.attached?
        = image_tag @resource.avatar, width: '100'
      - else
        = image_tag('images/client2.jpg', alt: '')
  .col-xs-12.col-md-6
    = rc_string_field(@resource, :email, user_profile_user_url(id: @resource.id), true)
  .col-xs-12
    = rc_string_field(@resource, :nick_name, user_profile_user_url(id: @resource.id))


.col-xs-12.col-md-6
  = render('shared/social_network_list', locals: { services: @resource.services })
