.socials
  %h2
    = I18n.t('social_networks')
  %ul{ class: 'three_column_list' }
    -@resource.services.each do |service|
      %li
        %i{ class: "fa #{service[:icon_name]}" }
        = service[:provider_name]
        .pull-right
          - if service[:included]
            = link_to(I18n.t('turn_off'), user_profile_service_path(id: service[:service_id]), method: :delete, class: 'btn btn-cancel')
          -else
            = link_to(I18n.t('turn_on'), omniauth_authorize_path(User, service[:provider]), class: 'btn btn-primary')
  .pull-right.bottom-comment
    = I18n.t('user.show.add_service')