= render('layouts/template_parts/small_title', locals: { title: I18n.t('user.show.title') })

%section#user-profile-page
  .container
    = render('layouts/template_parts/large_title', locals: { title: I18n.t('user.show.large_title'),
    text: I18n.t('user.show.title_text') })

    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')

    .page-blocks
      .col-xs-12
        -# Предупреждения
        = render('warnings')
      -# Текущие настройки
      = render('show_profile')

