= render('layouts/template_parts/main_slider')
= render('layouts/template_parts/feature')
= render('layouts/template_parts/recent_works')
= render('layouts/template_parts/services')
= render('layouts/template_parts/skills')
= render('layouts/template_parts/content')
= render('layouts/template_parts/testiomanials')
= render('layouts/template_parts/partners')
= render('layouts/template_parts/bottom')


