= form_for(resource, as: resource_name, url: session_path(resource_name), name: 'login-form', class: 'main-contact-form.contact-form') do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: 'current-password', class: 'form-control'

  - if devise_mapping.rememberable?
    .form-group
      = f.check_box :remember_me
      = f.label :remember_me
  .form-group
    .col-sm-6.col-sm-offset-6
      = render('devise/shared/social_icons')

  - if devise_mapping.recoverable?
    = link_to I18n.t('forms.login.forgot_password'), new_password_path(resource_name)

  .form-group
    %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
      = I18n.t('forms.login.login_word')