%div
  = form_with(url: auth_callback_do_url, method: "get") do
    = hidden_field_tag(:service_route, @service_route)
    = hidden_field_tag(:omniauth, @omniauth_json)
    %p
      = label_tag(:email, User.human_attribute_name(:email))
      = text_field_tag(:email)
    %p
      = label_tag(:email, User.human_attribute_name(:password))
      = password_field_tag(:password)
    %p
      = label_tag(:email, User.human_attribute_name(:password_confirmation))
      = password_field_tag(:password_confirmation)
    = submit_tag('save')