.col-md-12
  = rc_string_field(@resource, :name, user_article_url(user_id: @user.id, id: @resource.id))
.col-md-12
  = rc_text_field(@resource, :main_description, user_article_url(user_id: @user.id, id: @resource.id))
.col-md-12
  = rc_text_field(@resource, :short_description, user_article_url(user_id: @user.id, id: @resource.id))
.col-xs-12.col-md-3
  = rc_number_field(@resource, :min_quantity, user_article_url(user_id: @user.id, id: @resource.id))
.col-xs-12.col-md-3
  = rc_number_field(@resource, :max_quantity, user_article_url(user_id: @user.id, id: @resource.id))
.col-xs-12.col-md-3
  = rc_number_field(@resource, :min_age, user_article_url(user_id: @user.id, id: @resource.id))
.col-xs-12.col-md-3
  = rc_number_field(@resource, :max_age, user_article_url(user_id: @user.id, id: @resource.id))
.col-md-12
  = rc_string_field(@resource, :seo_keywords, user_article_url(user_id: @user.id, id: @resource.id))
.col-md-12
  = rc_text_field(@resource, :seo_description, user_article_url(user_id: @user.id, id: @resource.id))
