.col-md-12
  = render('articles/show/string_block', locals: { field_name: :name })
.col-md-12
  = render('articles/show/text_area_block', locals: { field_name: :main_description })
.col-md-12
  = render('articles/show/text_area_block', locals: { field_name: :short_description })
.col-xs-12.col-md-3
  = render('articles/show/number_block', locals: { field_name: :min_quantity })
.col-xs-12.col-md-3
  = render('articles/show/number_block', locals: { field_name: :max_quantity })
.col-xs-12.col-md-3
  = render('articles/show/number_block', locals: { field_name: :min_age })
.col-xs-12.col-md-3
  = render('articles/show/number_block', locals: { field_name: :max_age })
.col-md-12
  = render('articles/show/string_block', locals: { field_name: :seo_keywords })
.col-md-12
  = render('articles/show/text_area_block', locals: { field_name: :seo_description })
.col-md-12
  = react_component 'InputString', { name: :name,
  name_title: Article.human_attribute_name(:name),
  name_hint: I18n.t('article.show.name_hint'),
  resource_class: @resource.class.name.underscore,
  submit_button_text: I18n.t('forms.article_new.create'),
  cancel_button_text: I18n.t('cancel'),
  url: user_article_url(user_id: @user.id, id: @resource.id),
  start_value: @resource.name }
