<!DOCTYPE html>
<html lang="ru">

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: "all" %>

    <link href="<%= asset_path('images/ico/favicon.ico') %>" rel="shortcut icon">

    <%= stylesheet_pack_tag 'main_application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="homepage">

  <header id="header">
    <%= render('layouts/template_parts/top_bar') %>
    <!--/.top-bar-->

    <%= render('layouts/template_parts/nav_bar') %>
    <!--/nav-->

  </header>
  <!--/header-->

  <%= yield %>

  <%= render('layouts/template_parts/footer') %>
  <!--/#footer-->

  <%= javascript_include_tag('js/jquery.js') %>
  <%= javascript_include_tag('js/bootstrap.min.js') %>
  <%= javascript_include_tag('js/jquery.prettyPhoto.js') %>
  <%= javascript_include_tag('js/owl.carousel.min.js') %>
  <%= javascript_include_tag('js/jquery.isotope.min.js') %>
  <%= javascript_include_tag('js/main.js') %>
  <%= javascript_include_tag 'hello' %>
  <%= javascript_include_tag 'block_content_form' %>
  </body>

</html>

</html>
