<!DOCTYPE html>
<html>
  <head>
    <title>Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: "all" %>

    <%= stylesheet_pack_tag 'main_application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

  <body class="homepage">

  <header id="header">
    <%= render('layouts/template_parts/top_bar') %>
    <!--/.top-bar-->

    <%= render('layouts/template_parts/nav_bar') %>
    <!--/nav-->

  </header>
  <!--/header-->

  <%= render('layouts/template_parts/main_slider') %>
  <!--/#main-slider-->

  <%= render('layouts/template_parts/feature') %>
  <!--/#feature-->

  <%= render('layouts/template_parts/recent_works') %>
  <!--/#recent-works-->

  <%= render('layouts/template_parts/services') %>
  <!--/#services-->

  <%= render('layouts/template_parts/skills') %>
  <!--/#middle-->

  <%= render('layouts/template_parts/content') %>
  <!--/#content-->

  <%= render('layouts/template_parts/testiomanials') %>


  <%= render('layouts/template_parts/partners') %>
  <!--/#partner-->


  <%= render('layouts/template_parts/bottom') %>
  <!--/#bottom-->

  <%= render('layouts/template_parts/footer') %>
  <!--/#footer-->

  <%= javascript_include_tag('js/jquery.js') %>
  <%= javascript_include_tag('js/bootstrap.min.js') %>
  <%= javascript_include_tag('js/jquery.prettyPhoto.js') %>
  <%= javascript_include_tag('js/owl.carousel.min.js') %>
  <%= javascript_include_tag('js/jquery.isotope.min.js') %>
  <%= javascript_include_tag('js/main.js') %>
  </body>

</html>

</html>
