<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" class="ie"lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7"  class="ie"lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8"  class="ie"lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9"  class="ie"lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie"lang="en-US">
<![endif]-->

<!-- This doesn't work but i prefer to leave it here... maybe in the future the MS will support it... i hope... -->
<!--[if IE 10]>
<html id="ie10"  class="ie"lang="en-US">
<![endif]-->


<!--[if !IE]>
<html lang="en-US">
<![endif]-->

<!-- START HEAD -->
<html>
  <head>
    <meta charset="UTF-8" />

    <!-- this line will appear only if the website is visited with an iPad -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

    <title>Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- RESET STYLESHEET -->
    <%= stylesheet_pack_tag 'libra/css/reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- BOOTSTRAP STYLESHEET -->
    <%= stylesheet_pack_tag 'libra/css/bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- MAIN THEME STYLESHEET -->
    <%= stylesheet_pack_tag 'libra/style', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'tick_react' %>
    <%= javascript_pack_tag 'hello_react' %>

    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="<% asset_pack_path 'media/images/favicon.ico' %>" />
    <link rel="icon" type="image/x-icon" href="<% asset_pack_path 'media/images/favicon.ico' %>" />
    <!-- [favicon] end -->

    <!-- For iPad3 with retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<% asset_pack_path 'media/images/libra/apple-touch-icon-144-precomposed.png' %>" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<% asset_pack_path 'media/images/libra/apple-touch-icon-114-precomposed.png' %>" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<% asset_pack_path 'media/images/libra/apple-touch-icon-72-precomposed.png' %>">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="<% asset_pack_path 'media/images/libra/apple-touch-icon-57-precomposed.png' %>" />

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div id = "root"></div>
  </body>
</html>
