<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" class="ie"lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7"  class="ie"lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8"  class="ie"lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9"  class="ie"lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie"lang="en-US">
<![endif]-->

<!-- This doesn't work but i prefer to leave it here... maybe in the future the MS will support it... i hope... -->
<!--[if IE 10]>
<html id="ie10"  class="ie"lang="en-US">
<![endif]-->


<!--[if !IE]>
<html lang="en-US">
<![endif]-->

<!-- START HEAD -->
<html>
  <head>
    <meta charset="UTF-8" />

    <!-- this line will appear only if the website is visited with an iPad -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

    <title>Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- RESET STYLESHEET -->
    <%= stylesheet_pack_tag 'libra/css/reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- BOOTSTRAP STYLESHEET -->
    <%= stylesheet_pack_tag 'libra/css/bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- MAIN THEME STYLESHEET -->
    <%= stylesheet_pack_tag 'libra/style', media: 'all', 'data-turbolinks-track': 'reload' %>


    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_pack_path 'media/images/favicon.ico' %>" />
    <link rel="icon" type="image/x-icon" href="<%= asset_pack_path 'media/images/favicon.ico' %>" />
    <!-- [favicon] end -->

    <!-- For iPad3 with retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_pack_path 'media/images/libra/apple-touch-icon-144-precomposed.png' %>" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_pack_path 'media/images/libra/apple-touch-icon-114-precomposed.png' %>" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_pack_path 'media/images/libra/apple-touch-icon-72-precomposed.png' %>">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="<%= asset_pack_path 'media/images/libra/apple-touch-icon-57-precomposed.png' %>" />

    <%= stylesheet_pack_tag 'libra/js/thickbox/thickbox', media: 'all', id: 'thickbox-css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'libra/sliders/usquare/css/frontend/usquare_style', media: 'all', id: 'usquare-css-css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'libra/sliders/usquare/css/frontend/jquery.mCustomScrollbar', media: 'all', id: 'customScroll-css-css', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'libra/sliders/usquare/fonts/ostrich sans/stylesheet', media: 'all', id: 'customfont1-css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'libra/sliders/usquare/fonts/PT sans/stylesheet', media: 'all', id: 'customfont2-css', 'data-turbolinks-track': 'reload' %>

    <link rel='stylesheet' id='google-fonts-css'  href='http://fonts.googleapis.com/css?family=Playfair+Display%7COpen+Sans+Condensed%3A300%7COpen+Sans%7CShadows+Into+Light%7CMuli%7CDroid+Sans%7CArbutus+Slab%7CAbel&#038;ver=3.5.1' type='text/css' media='all' />

    <%= stylesheet_pack_tag 'libra/css/responsive', media: 'all', id: 'responsive-css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'libra/sliders/polaroid/css/polaroid', media: 'all', id: 'polaroid-slider-css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'libra/css/shortcodes', media: 'all', id: 'shortcodes-css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'libra/css/featurestab', media: 'all', id: 'featurestab-css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'libra/css/contact_form', media: 'all', id: 'contact-form-css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'libra/css/custom', media: 'all', id: 'custom-css', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
      body { background-color: #ffffff; background-image: url('media/images/libra/bg-pattern.png'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
    </style>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <!-- START BODY -->
  <body class="home page no_js responsive stretched">

  <!-- START BG SHADOW -->
  <div class="bg-shadow">

    <!-- START WRAPPER -->
    <div id="wrapper" class="container group">

      <!-- START TOP BAR -->
      <div id="topbar">
        <div class="container">
          <div class="row">
            <div id="nav" class="span12 light">

              <%= render('layouts/template_parts/main_navigation') %>
              <%= render('layouts/template_parts/topbar_login') %>

            </div>
          </div>
        </div>
      </div>
      <!-- END TOP BAR -->

      <%= render('layouts/template_parts/header') %>

      <!-- SLOGAN -->
      <div class="slogan">
        <h2>NICE TO MEET YOU.</h2>
        <h3>do you enjoy Libra theme?</h3>
      </div>
      <!-- START PRIMARY -->
      <div id="primary" class="sidebar-right">
        <div class="container group">
          <div class="row">
            <%#= render('layouts/template_parts/content') %>
            <%#= render('layouts/template_parts/sidebar') %>

            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->
          </div>
        </div>
      </div>
      <!-- END PRIMARY -->

      <%#= render('layouts/template_parts/footer') %>
      <%#= render('layouts/template_parts/copyright') %>

      <div class="wrapper-border"></div>

    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END BG SHADOW -->
  <%= javascript_include_tag 'libra/js/jquery/jquery.js' %>

  <%= javascript_include_tag 'libra/js/comment-reply.min.js' %>
  <%= javascript_include_tag 'libra/js/underscore.min.js' %>
  <%= javascript_include_tag 'libra/sliders/polaroid/js/jquery.polaroid.js' %>
  <%= javascript_include_tag 'libra/sliders/polaroid/js/jquery.transform-0.8.0.min.js' %>
  <%= javascript_include_tag 'libra/sliders/polaroid/js/jquery.preloader.js' %>
  <%= javascript_include_tag 'libra/js/jquery.colorbox-min.js' %>
  <%= javascript_include_tag 'libra/js/jquery.masonry.js' %>
  <%= javascript_include_tag 'libra/js/jquery.easing.js' %>
  <%= javascript_include_tag 'libra/js/hoverIntent.min.js' %>
  <%= javascript_include_tag 'libra/js/media-upload.min.js' %>
  <%= javascript_include_tag 'libra/js/jquery.clickout.min.js' %>
  <%= javascript_include_tag 'libra/js/responsive.js' %>
  <%= javascript_include_tag 'libra/js/mobilemenu.js' %>
  <%= javascript_include_tag 'libra/js/jquery.superfish.js' %>
  <%= javascript_include_tag 'libra/js/jquery.placeholder.js' %>
  <%= javascript_include_tag 'libra/js/contact.js' %>
  <%= javascript_include_tag 'libra/js/jquery.tipsy.js' %>
  <%= javascript_include_tag 'libra/js/jquery.cycle.min.js' %>
  <%= javascript_include_tag 'libra/js/shortcodes.js' %>
  <%= javascript_include_tag 'libra/js/jquery.custom.js' %>

  </body>
  <!-- END BODY -->
</html>
